.App {
  text-align: center;
}

.contacts {
  max-width: 1100px;
  display:flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-evenly;
}

.contact {
  width: 300px;
  height: 225px;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.top {
  display: flex;
  justify-content: space-around;
}

img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}